body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./FondoApp.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  box-sizing: border-box;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  background-color: #35A29F;
  color: #071952;
  font-family: 'Lilita One', cursive;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
