.TodoCounter {
    text-align: center;
    margin-top: 30px;
    padding: 45px;
    background-color: #0B666A;
    font-size: 30px;
    font-weight: normal;
    color: bisque;
    border-radius: 30px;
}


.TodoQuantity {
    font-weight: 800;
    text-decoration-line:underline;
    animation: TodoQuantity 3s infinite alternate;

}

@keyframes TodoQuantity {
    from { color: #071952; }
    to { color: #97FEED; }
  }
